html, body {
	padding: 0;
	margin: 0;
}

body {
	background-color: #EFEFEF;
	font-family: "Droid Sans Mono" ,"Lucida Console";
	color: #414141;
}

/* TITLES */

div#title {
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 100px;
	font-size: 1.4em;
}

div#title span.file_mine {
	display: inline-block;
	width: 32%;
}

div#title span.path {
	display: inline-block;
	width: 65%;
	text-align: right;
	color: #44b198;
	font-size: .8em;
}

div#title span.path a {
	text-decoration: none;
	cursor: pointer;
}

div#title span.path a:hover {
	text-decoration: underline;
}

/* FILE CONTAINER */

div#file_container {
	background-color: white;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
	box-shadow: 0px 0px 20px #cbcbcb;
	border-radius: 7px;
}

div#file_container div.folder,
div#file_container div.file {
	width: 98%;
	padding: 1%;
	border-radius: 7px;
	cursor: pointer;
}

div#file_container div.folder:hover,
div#file_container div.file:hover {
	background-color: #44b198;
	color: white;
}

div#file_container span.select {
	display: inline-block;
	width: 6%;
	text-align: center;
}

div#file_container span.name {
	display: inline-block;
	width: 60%;
}

div#file_container div.folder span.name {
	font-weight: bold;
}

div#file_container span.size {
	display: inline-block;
	width: 30%;
	text-align: center;
}

/* OPTION BAR */

div#options {
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
	margin-bottom: 60px;
	text-align: center;
}

input[type=button] {
	font-family: "Droid Sans Mono" ,"Lucida Console";
	border-radius: 3px;
	border: 1px solid #1a8a6c;
	background-color: #44b198;
	background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
	transition: box-shadow 0.25s, background-color 0.25s;
	color: white;
	box-shadow: 0px 0px 20px #cbcbcb;
	font-size: 10px;
	padding: 5px 10px;
	font-size: 14px;
	width: 100px;
}

input[type=button]:active {
	box-shadow: 0px 0px 5px #cbcbcb;
	background-color: #1a8a6c;
}
